@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 22px;
}

.layout {
    padding: 60px;
    display: flex;
    justify-content: center;
}


body {
    background-color: rgb(211, 211, 211);
}

header {
    display: flex;
    flex-grow: 1;
    max-width: 1500px;
    justify-content: space-between;
    align-items: center;
    gap: 210px;
}

.background-header {
    background-color: rgb(255, 255, 255);
    padding: 40px;
}

header .logo img {
    height: 80px;
    width: auto;
    transition: all 0.3s;


}

header .logo img:hover {
    transform: scale(1.2);
}

header .nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}


header .nav-links li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 700;
    transition: color 0.5s ease-out;
    font-size: 25px;
    font-weight: 800;
}

header .nav-links li:hover {
    transform: scale(1.1);
}

header .nav-links li {
    transition: transform 0.5s ease;
}

header .nav-links li a:hover {
    color: #7ed957;
}


.contenedor {

    max-width: 1500px;
    display: flex;
    flex-direction: column;
    gap: 20px;


}

.contenedor h1 {
    font-size: 50px;
}


.contenedor .imagen {
    height: 300px;
    width: 700px;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
    transition: ease transform 0.5s;
}

.area {
    display: flex;
    flex-direction: row;
    gap: 40px;

}

.contenedor .imagen:hover {
    transform: scale(1.1);

}

.contenedor .imagen2 {
    display: flex;
    flex-direction: row-reverse;
    height: 400px;
    width: 600px;
    border-radius: 10px;
    filter: drop-shadow(0 0 00.75rem #000000);
    transition: ease transform 0.5s;

}

.imagen2:hover {
    transform: scale(1.1);
}

.area2 {
    display: flex;
    flex-direction: row-reverse;
    padding: 30px 30px;
    gap: 50px;
}

.title2 {
    font-size: 50px;
}

.lista {
    padding: 20px;
    font-size: 35px;
}

.ajo {
    text-decoration: underline;
}

.importante {
    padding: 8px;
}

.mora {
    text-decoration: underline;
}

.title3 {
    font-size: 50px;
}

.title4 {
    font-size: 50px;
}

.footer {
    width: auto;
    height: 50px;
    background-color: rgb(125, 125, 125);
}

.creador {
    text-align: center;
}

.Grado {
    text-align: center;
}

.boton {
    position: fixed;
    left: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    bottom: 50px;
}

.title5 {
    font-size: 50px;
}

.title6 {
    text-align: center;
    font-size: 70px;
}

.tituloorigen {
    font-size: 70px
}

.contenedor .imagen3 {
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
    border-radius: 10px;
    height: 400px;
    width: 700px;
    transition: ease transform 0.5s;
    ;
}

.imagen3:hover {
    transform: scale(1.1);
}

.contenedor .infodelajo {
    display: flex;
    gap: 30px;
}

.contenedor .imagen4 {
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
    border-radius: 10px;
    height: 400px;
    width: 700px;
    transition: ease transform 0.5s;
}

.imagen4:hover {
    transform: scale(1.1);
}

.contenedor .Origen {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    padding: 60px 0px;
}
.ajobonito {
    position: absolute;
    top: 3270px;
    right: 450px;
    height: 120px;
    width: 200px;
    transition: 2s;
}
.ajo2{
    padding: 60px 0px;
}

.ajobonito:hover {
    transform: rotate(-360deg);
}

.beneficiosajo {
    font-size: 50px;
}

.Mora {
    font-size: 70px;
    text-align: center;
}
.beneficiosajo{
    text-align:end ;
    padding: 0px 150px;
}
.dibujomora{
    position: absolute;
    top: 664%;
    right: 57%;
    height: 100px;
    width: 140px;
    transition: 2s;
}
.dibujomora:hover{
    transform: rotate(-360deg);
}
.infomora{
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
}
.morafoto{
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
    width: 700px;
    height: 400px;
    border-radius: 10px;
    transition: ease transform 0.5s;
}
.morafoto:hover{
    transform: scale(1.1);
}
.moraorigen{
    font-size: 70px;
    padding: 100px 0px;
}
.origenmora{
    display: flex;
    gap: 30px;
}
.Origenfoto{
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
    width: 500px;
    height: 400px;
    border-radius: 10px;
    transition: ease transform 0.5s;
}
.Origenfoto:hover{
    transform: scale(1.1);
}
.beneficiosmora{
    padding: 100px 0px;
}
.beneficios-mora{
    font-size: 70px;
    text-align: end;
}
.derechos{
  text-align: center;
}