@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 20px;
}

body{
    background-color: rgb(211, 211, 211);
}
header{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    height: 130px;
    padding: 10px 15%;
    align-items: center;
    
    }

.header .logo img{
    height: 100px;
    width: auto;
    transition: all 0.3s;


}
.header .logo img:hover{
    transform: scale(1.2);
}
 .header .nav-links{
    list-style: none;
 }
 .header .nav-links li{
    display: inline-block;
    padding: 0 20px;
 }

 .header .nav-links li{
    transition: all 0.3s
 }
 
 
 
 .header .nav-links li:hover{
    transform: scale(1.1)
    
 }



 .header .nav-links a{
   font-size: 700;
   color: rgb(0, 0, 0);
   text-decoration: none;
 
}
.header .nav-links a:hover{
  color:rgb(117, 255, 62)
}

h1{
   font-size: 35px;
   padding: 60px 60px;

}
p{
    height: 200px;
    width:  600px;
    padding: 5px 60px;
}

.contenedor .Imagen img{
    height: 350px;
    width: 350px;
}
 